
.heading {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 5.000em;
    text-shadow: 0 0 0.313em #fff, 0 0 0.625em #fff;
    background-color: #1d1e1f;

}
.h1{
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 100px;
}
.h3{
    text-align: center;
    padding:20px;
}
.zoom{
    margin-left: 10px;
    transition: height 2s , width 2s ,transform 1.5s ;

}
.zoom:hover{
    width:1200px;
    transform: rotate(-360deg);
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    width: 100%;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: green;
    color: black;
}
body{
    background-color: yellow;
}
.zoom1{
    position: relative;
    transition: height 2s , width 2s ,transform 1.5s ;
}
.zoom1:hover{

    animation:move 3s;
}
@keyframes move {
    0%{top:0}
    25%{top:-300px}
    40%{top:-200px}
    50%{top:-230px}
    70%{top:-100px}
    80%{top:-120px}
    100%{top:0px}
    
}

